@page
@model SoftwareEnginner_ClubBaist.Pages.IndexModel
@{
    ViewData["Title"] = "Welcome Home";
}
@section HomeContent
{

    <script src="~/libraries/jquery/jquery.js"> </script>
    <script src="~/libraries/jquery-validate/jquery.validate.js"></script>
    <script src="~/libraries/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

}

@section indexContent
{


    @if (Model.clubMembers != null)
    {
        <div class="divHeader">
            <h1>Welcome @Model.Username !</h1>
            
           


        </div>
        <div class="divHeader">
            <h2>Approve Or Reject for New Member</h2>

        </div>


        <div class="container">
            <div class="row g-3">
                @foreach (var member in Model.clubMembers)
                {
                    <div class="col-12 col-mid-6 col-lg-4 ">
                        <section class="divHeader">
                            <form name="form" class="form" method="post">
                                <h5 class="form-title">Member Information</h5>
                                <div class="text-container">
                                    <label for="_UserName">User ID:</label><input type="text" id="_UserName" class="label-like-input" name="ApproveUserName" value="@member.UserName" readonly />
                                </div>
                                <div class="text-container">
                                    <label for="_Name">Name : </label> <input type="text" id="_Name" class="label-like-input" value="@member.FirstName @member.LastName" readonly />
                                </div>
                                <div class="text-container">
                                    <label for="_JOB">JOB: </label> <input type="text" id="_JOB" class="label-like-input" value="@member.Occupation, @member.CompanyName" readonly />
                                </div>
                                <div class="text-container">
                                    <label for="_Address">Address:</label> <input type="text" id="_Address" class="label-like-input" value="@member.Address, @member.PostalCode" readonly />
                                </div>
                                <div class="text-container">
                                    <label for="_Email">Email: </label> <input type="text" id="_Email" class="label-like-input" value="@member.Email" readonly />
                                </div>
                                <div class="text-container">
                                    <label for="_dBirth">Date of Birth:</label> <input type="text" id="_dBirth" class="label-like-input" value="@member.DateOfBirth " readonly />
                                </div>
                                <div class="text-container">
                                    <label for="_Phone">Phone:</label> <input type="text" id="_Phone" class="label-like-input" value="@member.Phone " readonly />
                                </div>
                                <div class="text-container">
                                    <label for="_memberType">MemberType:</label> <input type="text" id="_memberType" class="label-like-input" value=" @member.MembershipType " readonly />
                                </div>
                                <br />

                                <input type="submit" value="Approve" name="Submit" class="submit" /><br />

                                <input type="submit" value="Reject" name="Submit" class="submit" /><br />

                            </form>
                        </section>
                    </div>
                }
            </div>
        </div>

    }
    else
    {
        <div class="divHeader">
            <h1>Welcome Home @Model.Username!</h1>

            <p>Your Current Status : @Model.Status </p>


        </div>
    }




}
