@page
@model SoftwareEnginner_ClubBaist.Pages.ReservationModel
@{
    ViewData["Title"] = "Book";
}

@section ReservationContent
{
    @if (Model.IsRegistered == "True")
    {


        <section class="divHeader">
            <form name="form" class="form" method="post">
                <p class="form-title">Make Reservation</p>

                <div class="input-container">
                    <input type="date" name="Bdate" />

                </div>
                <div class="input-container">
                    <label for="mySelect">Choose Time:</label>
                    <select id="mySelect" name="Btime">

                        @for (int i = 7; i < 20; i++)
                        {
                            for (int j = 0; j < 60; j += 8)
                            {


                                string time = i.ToString().PadLeft(2, '0');
                                string mins = j.ToString().PadLeft(2, '0');

                                string results = (i < 12) ? $"{time}:{mins} AM" : $"{time}:{mins} PM";

                                <option value="@results">@results</option>

                            }
                        }

                    </select>

                </div>

                <div class="input-container">

                    <input type="text" name="numPlayer" placeholder="Insert Number Of Players" />

                </div>
                <div class="input-container">

                    <input type="text" name="numCart" placeholder="Insert Number Of Carts" />

                </div>
                <input type="submit" value="Book" asp-page-handler="Book" class="submit" />
                <div class="messages">
                    <br />

                    <h3 style="color:red">@Model.Message</h3>

                </div>

            </form>
        </section>

        <br />

        <form name="form" class="table-wrapper" method="post">
            <div class="divHeader">
                <p class="form-title">View Tee TimeList</p>

                <div class="input-container">
                    <input type="date" name="SelectDateForView" value="@DateTime.Today.ToString("yyyy-MM-dd")" />

                </div>
                <input type="submit" name="ViewDate" value="View List" asp-page-handler="ViewTeeTime" class="submit" />
            </div>
            <Br />

            @if (Model.TeeTimeList != null)
            {




                    <table class="fl-table">
                        <thead>
                            <tr>
                                <th>Member Name</th>
                                <th># Of Player</th>
                                <th>Phone</th>
                                <th># Of Carts</th>
                                <th>Date</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>

                        @foreach (var item in Model.TeeTimeList)
                        {
                            <tr>
                                <td>@item.FullName</td>
                                <td>@item.NumOfPlayer</td>
                                <td>@item.members.Phone</td>
                                <td>@item.NumOfCarts</td>
                                <td>@item.BookingDate</td>
                                <td>@item.BookingTime</td>

                            </tr>
                        }
                      @*       <tr>

                            </tr>
                            <tr>

                            </tr>
                            <tr>

                            </tr>
                            <tr>

                            </tr>
                            <tr>

                            </tr> *@

                        <tbody>
                    </table>
               
            }
            else
            {
                <div class="divHeader">
                    <p class="form-title">Please Select Date for View Tee Time</p>


                </div>
            }
        </form>
        // </div>


    }
    else
    {
        <section class="divHeader">
            <h1> Your Status is not Registered Please Contact to Admin </h1>
        </section>
    }
}