@page
@model SoftwareEnginner_ClubBaist.Pages.ReservationModel
@{
    ViewData["Title"] = "Book";
}
@section ReservationScript
{
    @*  <script src="~/libraries/jquery/jquery.js"> </script>
    <script src="~/libraries/jquery-validate/jquery.validate.js"></script>
    <script src="~/libraries/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    *@
    <script type="text/javascript">        
        function isValidate(aForm) {

      
            let setMemberID = aForm.SetMemberID;
            let Bdate = aForm.Bdate;
            let numPlayer = aForm.numPlayer;

            let numCarts = aForm.numCart;

            if (setMemberID.value === '' || setMemberID.value === '0') {
                alert("MemberID is required!");
                return false;
            }
            if (!/^[0-9]+$/.test(setMemberID.value)) {
                alert("MemberID must be a number! ");
                return false;
            }
            if (!Bdate.value) {
                alert("Date must be a Selected!");
                return false;
            }

            if (numPlayer.value === '') {
                alert("Number of Player Field is required!");
                return false;
            }
            if (!/^[1-4]+$/.test(numPlayer.value)) {
                alert("Number of Player Must Be Number and Minimum 1 Maximum 4 ");
                return false;
            }
            if (numCarts.value === '') {
                alert("NumCarts fields is Required");
                return false;
            }
            if (!/^[0-4]+$/.test(numCarts.value)) {
                alert("Must be Number for The Cart and Must Be Number and Minimum 0 Maximum 4 ");
                return false;
            }
            return true;
        }
      
    </script>
 
}
@section ReservationContent
{
    @if (Model.IsRegistered == "True")
    {


        <section class="divHeader">
            <form name="form" class="form" method="post" onsubmit="return isValidate(this);">
                <p class="form-title">Make Reservation</p>

                @if (Model.SetUserName == "Admin")
                {
                    <div class="input-container">
                        <label class="lablesForRservation">Insert MemberID: </label>
                        <input name="SetMemberID" type="text" value="@Model.SetMemberID" placeholder="Insert MemberID:" class="form-control" />

                    </div>

                }
                <div class="input-container">
                    <label class="lablesForRservation">Select Date: </label>
                    <input name="Bdate" id="Bdate" type="date" value="@Model.Bdate" class="form-control" />

                </div>

                <div class="input-container">
                    <label for="mySelect">Choose Time:</label>
                    <select id="mySelect" name="Btime">


                        @for (int i = 7; i < 18; i++)
                        {
                            @if (Model.MemberShipType == "Silver" && (i == 15 || i == 16))
                            {

                                continue;
                            }
                            @if (Model.MemberShipType == "Bronze" && (i == 15 || i == 16 || i == 17))
                            {
                                continue;
                            }

                            for (int j = 0; j < 60; j += 8)
                            {
                                @if (Model.MemberShipType == "Silver" && (i == 17))
                                {
                                    if (j <= 30)
                                        continue;
                                }
                                string time = i.ToString().PadLeft(2, '0');
                                string mins = j.ToString().PadLeft(2, '0');

                                string results = (i < 12) ? $"{time}:{mins} AM" : $"{time}:{mins} PM";

                                <option value="@results">@results</option>
                            }
                        }


                    </select>

                </div>


                <div class="input-container">

                    <label class="lablesForRservation">Insert Number of Players: </label>
                    <input name="numPlayer" type="text" placeholder="Insert Number Of Players" value="@Model.numPlayer" class="form-control" />

                </div>
                <div class="input-container">
                    <label class="lablesForRservation">Insert Number of Carts: </label>
                    <input name="numCart" type="text" placeholder="Insert Number Of Carts" value="@Model.numCart" class="form-control" />

                </div>
                <input type="submit" value="Book" asp-page-handler="Book" class="submit" />
                <div class="messages">
                    <br />

                    <h3 style="color:red">@Model.Message</h3>

                </div>


            </form>
        </section>

        <br />

        <form name="ViewForm" class="table-wrapper" method="post" >
            <div class="divHeader">
                <p class="form-title">View Tee TimeList</p>

                <div class="input-container">
                    <input type="date" name="SelectDateForView" value="@DateTime.Today.ToString("yyyy-MM-dd")" />

                </div>
                <input type="submit" name="ViewDate" value="View List" asp-page-handler="ViewTeeTime" class="submit" />
            </div>
            <Br />

            @if (Model.TeeTimeList != null)
            {
                <table class="fl-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Member Name</th>
                            <th># Of Player</th>
                            <th># Of Carts</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TeeTimeList)
                        {
                            <tr>
                                <td>@item.BookingID</td>
                                <td>@item.FullName</td>
                                <td>@item.NumOfPlayer</td>

                                <td>@item.NumOfCarts</td>
                                <td>@item.BookingDate</td>
                                <td>@item.BookingTime</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
           
            else
            {
                <div class="divHeader">
                    <p class="form-title">@Model.ReservationStatus</p>
                </div>
            }

        </form>
        // </div>


    }
    else
    {
        <section class="divHeader">
            <h1> Your Status is not Registered Please Contact to Admin </h1>
        </section>
    }
}

