@page
@model SoftwareEnginner_ClubBaist.Pages.ScoreModel
@{
    ViewData["Title"] = "Golf Score";
}
@section ScoreScript
{

    <script src="~/libraries/jquery/jquery.js"> </script>
    <script src="~/libraries/jquery-validate/jquery.validate.js"></script>
    <script src="~/libraries/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

}

@section GolfScoreSection
{

    @if (!string.IsNullOrEmpty(Model.IsRegisteredAndBooked))
    {
        <section class="divHeader">
            <h1> GOLF SCORE </h1>
            <div>
                <form name="ScoreForm" method="post">

                    @if (Model.UserName == "Admin")
                    {
                        <div class="btn-class">
                            <br />
                            <h4 class="modelMessage">Please Insert Member ID for the Golf Score </h4>
                            <input type="text" name="MemberID" class="form-control" pattern="[0-9]+" required title="Must Insert the Value and Only Number is Valid" />
                        </div>
                    }
                    <hr />
                    <div class="messages">
                        <br />
                        <h4 style="color:red">@Model.Message</h4>
                    </div>

                    <div class="btn-class">
                        <label class="lablesForRservation">Select Date: </label>
                        <input name="Bdate" id="Bdate" type="date" class="form-control" max="@DateTime.Today.ToString("yyyy-MM-dd")" required title="Must Select Date" />

                    </div>
                    <div class="container">
                        <div class="row g-3">
                            @for (int i = 1; i < 19; i++)
                            {
                                string inputValue = $"HoleScore{i}";

                                <div class="col-12 col-mid-6 col-lg-6">
                                    <label> Hole @i Score :  <input type="text" name="@inputValue" pattern="[0-9]+" required title="Must Insert the Value and Only Number is Valid" class="form-control" /></label>

                                </div>

                                <br />
                            }
                        </div>
                    </div>
                    <br />
                    <div class="btn-class">
                        <input type="submit" name="Submit" value="Update" class="submitBtn" asp-page-handler="Update" />

                    </div>

                </form>


            </div>
        </section>
        <br />
        if (Model.golfScore != null && Model.SplitScore != null)
        {

            <Section class="divHeader">
                <h1>View Score</h1>

                <table class="fl-table">
                    <thead>
                        <tr>
                            <th>MemberID</th>
                            @for (int i = 1; i <= Model.SplitScore.Length; i++)
                            {
                                <th>Hole Score @i</th>
                            }
                            <th>Handicap</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>@Model.golfScore.MemberID</td>
                            @for (int i = 0; i < Model.SplitScore.Length; i++)
                            {
                                <td> @Model.SplitScore[i]</td>
                            }

                            <td>@Model.golfScore.TotalScore</td>
                            <td>@Model.golfScore.ScoreDate</td>
                        </tr>
                    </tbody>
                </table>
            </Section>
        }
        <br />
        <hr />
        <section class="divHeader">
            <h4> View Score and View Reservation </h4>
            <div>
                <form name="ScoreReservationForm" method="post">

                    @if (Model.UserName == "Admin")
                    {
                        <div class="btn-class">
                            <br />
                            <h6 class="modelMessage">Please Insert Member ID for View Score/Reservation </h6>
                            <input type="text" name="MemberID" class="form-control" pattern="[0-9]+"/>
                        </div>
                    }
                    <hr />


                    <div class="btn-class">
                        <h6 class="modelMessage">Please Select Date</h6>
                        <label class="lablesForRservation">From Date: </label>
                        <input name="FromDate" type="date" class="form-control"  />
                        <label class="lablesForRservation">To Date: </label>
                        <input name="ToDate" type="date" class="form-control" />
                    </div>

                    <br />
                    <div class="btn-class">
                        <input type="submit" name="Submit" value="View" class="submitBtn" asp-page-handler="View" />

                    </div>

                </form>


            </div>
        </section>
        if (Model.ViewEveryScore != null)
        {
            <Section class="divHeader">
                <h1>VIEW EVERY SCORE</h1>

                <table class="fl-table">
                    <thead>
                        <tr>
                            <th>MemberID</th>
                            <th>FullName</th>
                            <th>Date OfBirth</th>
                            @for (int i = 1; i <= Model.ViewScoreArr.Length; i++)
                            {
                                <th>Hole Score @i</th>
                            }
                            <th>ScoreDate</th>
                            <th>TotalScore</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var val in Model.ViewEveryScore)
                        {
                            <tr>
                                <td>@val.MemberID</td>
                                <td>@val.FullName</td>
                                <td>@val.DateofBirth</td>
                                @for (int i = 0; i < Model.ViewScoreArr.Length; i++)
                                {
                                    <td>@Model.ViewScoreArr[i]</td>
                                }
                                <td>@val.ScoreDate</td>
                                <td>@val.TotalScore</td>


                            </tr>
                        }

                    </tbody>
                </table>
            </Section>
        }
        else
        {
             <Section class="divHeader">
                <h4>@Model.ViewScoreMessage  </h4>
            </section>
        }
        if (Model.ViewEveryReservation != null)
        {
            <Section class="divHeader">
                <h1>VIEW EVERY RESERVATION</h1>

                <table class="fl-table">
                    <thead>
                        <tr>
                            <th>Member ID</th>
                            <th>BookingDate</th>
                            <th>Number Of Player</th>
                            <th>Number Of Carts</th>
                            <th>BookingTime</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var val in Model.ViewEveryReservation)
                        {
                            <tr>
                                <td>@val.MemberID</td>
                                <td>@val.BookingDate</td>
                                <td>@val.NumOfPlayer</td>
                                <td>@val.NumOfCarts</td>
                                <td>@val.BookingTime</td>

                            </tr>
                        }

                    </tbody>
                </table>
            </Section>



        }
        else
        {
            <Section class="divHeader">
                <h4>@Model.ViewReservationMessage  </h4>
            </section>
        }

    }
    else
    {
        <div class="messages">
            <br />
            <h4 style="color:red">You must Book reservation before update the score</h4>
        </div>
    }
}

