<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    @RenderSection("HomeContent", required: false)
    @RenderSection("LoginScript", required: false)
    @RenderSection("ReservationScript", required: false)


    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            const menuToggle = document.querySelector('.menu-toggle');
            const navList = document.querySelector('.nav-list');
            //navList.style.display = 'flex';
            menuToggle.addEventListener('click', function () {
                if (navList.style.display === 'flex') {
                    navList.style.display = 'none';
                } else {
                    navList.style.display = 'flex';
                }
            });
            window.addEventListener('resize', function () {
                if (window.innerWidth > 768) {
                    navList.style.display = 'flex';
                }
            });
        });

    </script>
</head>
<body>
    <nav class="navbar">
        <div class="logo"><a href="~/Index" class="logo">MCB</a></div>
        <div class="menu-toggle">&#9776;</div>
        <ul class="nav-list">

            <li><a href="~/Index">Home</a></li>

            <li>
                <a href="~/Login">
                    @if (Context.Session.GetString("member") == null)
                    {
                        <text>Login</text>
                    }
                    else
                    {
                        <text>Logout</text>
                    }
                </a>
            </li>
            <li><a href="~/Reservation">Reservation</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <main>

        @RenderBody()
        @RenderSection("indexContent", required: false)
        @RenderSection("LoginContent", required: false)
        @RenderSection("SignUpContent", required: false)
        @RenderSection("ReservationContent", required: false)
    </main>
    <footer>

        <p style="text-align:center;"> created by Mike Wonhyuk Cho</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
